<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  <link rel="icon" type="image/png" href="{{ 'favicon.ico' | asset_url }}">
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
  <link rel="apple-touch-icon" href="{{ 'favicon.ico' | asset_url }}">
  </head>

  <body>
    {{ content_for_layout }}
  </body>
</html>
